@mixin font($fontName, $urlName, $weight, $style: normal) {
  font-family: '#{$fontName}';
  src: url('../fonts/#{$urlName}.woff') format('woff'),
    url('../fonts/#{$urlName}.woff2') format('woff2'),
    url('../fonts/#{$urlName}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
}

@mixin breakpoint($point, $type: max) {
  @media screen and (#{$type}-width: #{$point}px) {@content;}
}

@mixin formInput() {
  display: block;
  width: 100%;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
}