.select2-container--open .select2-search--dropdown {
  display: none !important;
}

.select2-container--open .select2-results {
  font-size: 14px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: $fontColor;
  background-color: rgba(0, 0, 0, .15);
}

.select2-container .select2-selection--single {
  height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
  color: $blue;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-style: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b::after {
  position: absolute;
  content: '\f077';
  font: 10px/1 'ks-ico';
  transform: rotate(-180deg);
}

.select2-container--open .select2-selection--single .select2-selection__arrow b::after {
  transform: rotate(0);
}

