.tariffs {
  max-width: 1130px;
  margin: 0 auto;
  padding: 40px 30px 0;

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
}

#tariff-tabs {
  padding-bottom: 50px;
  box-shadow: 0 0 5px 0 rgba(137, 143, 147, 1);
}

.tariffs-list {
  display: flex;

  &__tariff {
    width: 33.33%;
    font-size: 14px;
  }

  &__tariff.active &__link {
    background-color: #fff;
    box-shadow: 0 -2px 7px 0 rgba(137, 143, 147, 1);
  }

  &__tariff.active .tariff-price {
    color: $fontColor;
  }

  &__tariff.active .tariff-title {
    padding-top: 14px;
    margin-top: -4px;
  }

  &__link {
    display: block;
    background-color: #434e55;
    color: $tariffsFont;
    
    &.hd {
      position: relative;
    }
  }
}

.tariffs-discount {
  position: absolute;
  top: -8px;
  right: 0;
  transform: rotate(90deg);

  &__title {
    position: absolute;
    top: 19%;
    left: 19%;
    color: #fff;
    transform: rotate(-45deg);
  }
}

.tariff-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: $tariffBgDark;
  color: $blue;

}

.value, .tariff-title__name {
  font-size: 24px;
  font-weight: 700;
}

.tariff-info {
  padding: 10px 20px;

  &__item {
    display: flex;
    justify-content: space-between;
  }
}

.channels__count::before,
.speed__count::before {
  margin-right: 5px;
  font: 1rem/1 'ks-ico';
}

.channels__count::before {
  content: '\e90b';
}

.speed__count::before {
  content: '\e90a';
}

.tariff-wrapper {
  padding: 40px 40px 0;
}

.tariff-content {
  display: flex;
  justify-content: space-between;
}

.tariff-content-tv {
  position: relative;
  width: 65%;

  &__title {
    margin-bottom: 15px;
    padding: 20px 0;
    font-size: 1.4rem;
    font-weight: 700;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  &__channels-count {
    color: $blue;
  }

  &::after {
    content: '+';
    position: absolute;
    left: 102%;
    top: 50%;
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 700;
    transform: translateY(-50%);
  }
}

.channels-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  padding-right: 15px;
  max-height: 325px;
}

.channels-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  width: 10px;
  opacity: 0.7;
  border-radius: 10px;
  background-color: rgba(0,0,0,.1);
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  right: 0;
  width: 10px;
  height: 100px;
  border-radius: 10px;
}

.ps-container:hover > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $blue;
}

.channel {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  color: $blue;
  border-right: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  &:nth-child(4n) {
    border-right: none;
  }

  &__logo {
    position: relative;
    display: block;
    align-self: center;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.6, 0.6);
      background: url( ../img/vue_block/channels-sprite.png) no-repeat;
    }

    &--discovery::before {
      width: 106px;
      height: 73px;
      background-position: -219px -353px;
    }

    &--pershiy-avto::before {
      width: 73px;
      height: 73px;
      background-position: -263px 0;
    }

    &--pershiy::before {
      width: 83px;
      height: 83px;
      background-position: -747px -938px;
    }

    &--k1::before {
      width: 79px;
      height: 83px;
      background-position: -753px -415px;
    }

    &--k2::before {
      width: 114px;
      height: 59px;
      background-position: -630px -506px;
    }
  }
}

.vod-packages {
  &__title {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
  }
}

.vod-list {
  display: flex;
  justify-content: space-between;

}

.vod-item {
  width: 50%;
  max-width: 300px;
  box-shadow: 0 0 22px rgba(0, 0, 0, .14);

  &__head, &__body {
    display: flex;
    justify-content: space-between;
  }

  &__head {
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background-color: $blue;
  }

  &__body {
    padding: 10px 20px;
  }

  &__more {
    font-size: 14px;
    color: $discount;
    border-bottom: 1px dotted $discount;
  }

  &__price {
    color: $blue;
  }
}

.tariffs-checkbox {
  position: relative;
  height: 25px;
  width: 25px;

  &__check {
    visibility: hidden;
  }

  &__check ~ &__custom::after {
    align-self: center;
    content: '\e915';
    font: 11px/1 ks-ico;
    color: $blue;
    transition: opacity .15s ease-in-out 0s;
    opacity: 0;
  }

  &__check:checked ~ &__custom::after {
    opacity: 1;
  }

  &__custom {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid $input;
    border-radius: 4px;
    background-color: #fff;
  }

}

.tariff-content-internet {
  align-self: baseline;
  width: 28%;
  box-shadow: 0 0 22px rgba(0, 0, 0, .14);

  &__title {
    position: relative;
    margin: 0;
    padding: 20px;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    background-color: $blue;
  }
}

.sale {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -25px;
  right: 10px;
  width: 70px;
  height: 70px;

  &::before {
    content: "\e921";
    font: 4.4rem/1 'ks-ico';
    position: absolute;
    top: 0;
    left: 0;
    color: $discount;
  }

  &__text {
    align-self: center;
    position: relative;
    z-index: 1;
    font-size: 16px;
  }
}

.internet-info {
  padding: 20px;
}

.info-title {
  font-size: 14px;
  padding: 5px 15px;
  color: $labelFontColor;
  background-color: $block-background;
}

.internet-info-speed {
  display: flex;
  color: $blue;

  &__visual {
    padding: 15px 0;
  }

  &__count, &__text {
    display: block;
  }

  &__count {
    font-size: 60px;
    line-height: 1;
  }

  &__text {
    font-size: 16px;
  }
}

.internet-info-traffic {

  &__visual {
    display: flex;
    padding: 20px 10px;
    font-size: 14px;
    line-height: 2rem;

    &::before {
      content: "\e916";
      font: 2rem/1 'ks-ico';
      margin-right: 15px;
      color: $blue;
    }
  }
}

.internet-info-plan {

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__sale {
    color: #dd1796;
    border-bottom: 1px dotted #dd1796;
  }

  &__visual {
    padding: 20px 10px 0;
    font-size: 20px;
  }
}
