$blue: #229fff;
$menu: #d8e8f4;
$button: #cee800;
$ylButton: #fdda24;
$font: #3b4952;
$labelFont: #8ea9b9;
$block-background: #f7f8fb;
$block-hover: #eef0f4;
$accord-button: #acb2b7;
$input: #acb0b4;
$border: #eff2f4;
$tariffsFont: #898f93;
$discount: #dd1796;

$tariffBgDark: rgba(0,0,0,.15);
$tariffBgLight: #898f93;


$museoSansLight: 'Museo Sans Cyrl 300';
$museoSansLightUrl: 'MuseoSansCyrl-300';
$museoSansBold: 'Museo Sans Cyrl 700';
$museoSansBoldUrl: 'MuseoSansCyrl-700';


// breakpoints

$desktopSmall: 1024;
$tablet: 980;
$tabletSmall: 768;
$mobile: 640;
$mobileSmall: 480;