$blue: #229fff;
$menuLinkColor: #d8e8f4;
$headButtonColor: #cee800;
$yellowButton: #fdda24;
$fontColor: #3b4952;
$labelFontColor: #8ea9b9;
$block-background: #f7f8fb;
$block-hover: #eef0f4;
$accord-button: #acb2b7;
$input: #acb0b4;
$border: #eff2f4;
$tariffsFont: #898f93;
$discount: #dd1796;

$tariffBgDark: rgba(0, 0, 0, .15);
$tariffBgLight: #898f93;


$prFontLight: 'Museo Sans Cyrl 300';
$prFontLightUrl: 'MuseoSansCyrl-300';
$prFontBold: 'Museo Sans Cyrl 700';
$prFontBoldUrl: 'MuseoSansCyrl-700';


// breakpoints

$desktopSmall: 1024;
$tablet: 980;
$tabletSmall: 768;
$mobile: 640;
$mobileSmall: 480;