<!DOCTYPE html>
<html lang="ru" class="flexMenu">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kyivstar HomeTV</title>
  </head>

  <body>
    <div class="wrapper">
      <div id="addon-menu">

      </div>
      <div id="region-menu">

      </div>
      <header class="header">
        <nav class="nav-top">
          <ul class="page-sections">
            <li class="page-sections__item">
              <a href="#" class="page-sections__link">Мобильная связь</a>
            </li>
            <li class="page-sections__item">
              <a href="#" class="page-sections__link  page-sections__link--active">Домашний интернет</a>
            </li>
            <li class="page-sections__item">
              <a href="#" class="page-sections__link page-sections__link--cart">Интернет-магазин</a>
            </li>
            <li class="page-sections__item">
              <a href="#" class="page-sections__link">Поддержка</a>
            </li>
            <li class="page-sections__item">
              <a href="#" class="page-sections__link  page-sections__link--more  addon-menu__open"></a>
            </li>
          </ul>
          <ul class="user-tools">
            <li class="user-tools__item  dropdown-holder  business">
              <a href="#" class="user-tools__link  dropdown-holder__link">Бизнесу</a>
              <ul class="dropdown">
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Малый и средний бизнес</a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Большой бизнес</a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Партнерам</a>
                </li>
              </ul>
            </li>
            <li class="user-tools__item  dropdown-holder  kyivstar">
              <a href="#" class="user-tools__link  dropdown-holder__link">Киевстар</a>
              <ul class="dropdown">
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">О компании</a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Центр новостей</a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Сообщество</a>
                </li>
              </ul>
            </li>
            <li class="user-tools__item">
              <a href="#" class="user-tools__link region">Харьков</a>
            </li>
            <li class="user-tools__item user-tools__item  dropdown-holder">
              <a href="#" class="user-tools__link  user-tools__link--lang  dropdown-holder__link">Рус</a>
              <ul class="dropdown">
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Укр</a>
                </li>
              </ul>
            </li>
            <li class="user-tools__item">
              <a href="#" class="user-tools__link">Мой Киевстар</a>
            </li>
          </ul>
        </nav>
        <div class="main-nav-container">
          <nav class="main-nav">
            <div class="main-logo">
            <a class="main-logo__link" href="#"></a>
            </div>

            <ul class="main-nav__list  flex-menu">
              <li class="main-nav__item">
                <a href="#" class="main-nav__link  main-nav__link--active">Интернет + ТВ</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">ТВ-программа</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Интернет</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Устройства</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Услуги</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Настройки ТВ</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Настройки Интернет</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Архив тарифов</a>
              </li>
            </ul>
          </nav>

          <ul class="nav-tools">
            <li class="nav-tools__item">
              <a href="#" class="nav-tools__link  nav-tools__link--wallet"></a>
            </li>
            <li class="nav-tools__item">
              <a href="#" class="nav-tools__link  nav-tools__link--search"></a>
            </li>
          </ul>

          <form id="header-search" class="main-search" action="/search">
            <input class="main-search__input" type="text" name="search" placeholder="Поиск" required>
            <span id="search" class="main-search__icon"></span>
          </form>
        </div>

      </header>

      <main class="content">
        <section class="intro">
          <div class="content-wrapper">
            <div class="intro__description">
              <h1 class="intro__title">Попробуй ТВ бесплатно</h1>
              <p class="intro__text">
                Оцени преимущества ТВ от Киевстар в общем пакете Домашнего интернета и ТВ
              </p>

              <ul class="features-list">
                <li class="features-list__item">
                  <span class="features-list__logo  features-list__logo--channels">102</span>
                  <span class="features-list__describe">Каналы</span>
                </li>
                <li class="features-list__item">
                  <span class="features-list__logo  features-list__logo--video"></span>
                  <span class="features-list__describe">Видеобиблиотека</span>
                </li>
                <li class="features-list__item">
                  <span class="features-list__logo  features-list__logo--hd"></span>
                  <span class="features-list__describe">HD качествo</span>
                </li>
                <li class="features-list__item">
                  <span class="features-list__speed">100</span>
                  <span class="features-list__speed-describe">до Мбит/с</span>
                  <span class="features-list__describe  features-list__describe--internet">Интернет
                    <div class="info-tooltip">
                      <span class="info-tooltip__icon">?</span>
                      <div class="info-tooltip__message">
                        <p>
                          Пакет «Попробуйте ТВ» подключается вместе с услугой Домашний Интернет. Абоненты Домашнего Интернета могут заказать пакет самостоятельно в системе «Мой Киевстар».
                        </p>
                      </div>
                    </div>
                  </span>
                </li>
              </ul>

              <div class="intro-links">
                <a href="#" class="intro-links__connect  button">Подключить</a>
                <a class="intro-links__more">
                  <span class="intro-links__arrow"></span>
                  Подробнее
                </a>
              </div>
            </div>

            <div class="intro__visual">
              <div class="circle">
                <span class="circle__text">
                  <strong>14</strong>
                  дней в подарок
                </span>
              </div>
            </div>

          </div>
        </section>

        <section class="tariffs">
          <h2 class="tariffs__title">Обирайте вигiдний тариф ТБ + Інтернет</h2>
          <div id="tariff-tabs">
            <ul class="tariffs-list" >
              <li class="tariffs-list__tariff"
                  v-for="tariff in tariffs"
                  @click.prevent="setActive(tariff)"
                  :class="{ active: tariff.isActive }">
                <a href="#" class="tariffs-list__link" :class="{ hd: tariff.isHD }">
                  <div class="tariffs-discount"
                       v-if="tariff.isHD">
                    <span class="tariffs-discount__title">HD</span>
                    <img src=<%=require("./img/vue_block/hd.png") %> alt="discount">
                  </div>
                  <div class="tariff-title">
                    <span class="tariff-title__name">{{ tariff.name }}</span>
                    <span class="tariff-price">
                      <span class="tariff-price__value  value">
                        {{ tariff.tvPrice + tariff.internet.price }}
                      </span>
                      <span class="tariff-price__text">грн/мiс.</span>
                    </span>
                  </span>
                  </div>

                  <ul class="tariff-info">
                    <li class="tariff-info__item">
                    <span class="channels__count">
                      <strong class="channels__value  value">{{ tariff.channels.length }}</strong>
                      каналiв
                    </span>
                      <span class="channels-price">
                        <span class="channels-price__value  value">
                          {{ tariff.tvPrice }}
                        </span>
                        <span class="channels-price__text">грн/мiс.</span>
                      </span>
                    </li>
                    <li class="tariff-info__item">
                    <span class="speed__count">
                      <strong class="speed__value  value">{{ tariff.internet.speed }}</strong>
                       Мбіт/сек
                    </span>
                      <span class="speed-price">
                        <span class="speed-price__value  value">
                          {{ tariff.internet.price }}
                        </span>
                        <span class="speed-price__text">грн/мiс.</span>
                      </span>
                    </li>
                  </ul>
                </a>
              </li>
            </ul>

            <div class="tariff-wrapper">
              <div class="tariff-content">
                <div class="tariff-content-tv">
                  <h3 class="tariff-content-tv__title">
                    Телебачення:
                    <span class="tariff-content-tv__channels-count">
                      {{ activeTariff.channels.length }} каналiв
                    </span>
                  </h3>

                  <div class="channels-container">
                    <div class="channel" v-for="channel in activeTariff.channels">
                      <span class="channel__logo" :class="channel.class"></span>
                      <span class="channel__title">{{ channel.name }}</span>
                    </div>
                  </div>

                  <div class="vod-packages">
                    <h3 class="vod-packages__title">Додатковi канали</h3>
                    <div class="vod-list">
                      <div class="vod-item">
                        <div class="vod-item__head">
                          <span class="vod-item__title">{{ additional.premiumVOD.name }}</span>
                          <label class="page-checkbox">
                            <input type="checkbox" class="page-checkbox__check">
                            <span class="page-checkbox__custom"></span>
                          </label>
                        </div>

                        <div class="vod-item__body">
                          <a href="#" class="vod-item__more">
                            Деталi
                          </a>
                          <span class="vod-item__price">
                            {{ additional.premiumVOD.price }} грн/мiс.
                          </span>
                        </div>
                      </div>
                      <div class="vod-item">
                        <div class="vod-item__head">
                          <span class="vod-item__title">{{ additional.adultVOD.name }}</span>
                          <label class="page-checkbox">
                            <input type="checkbox" class="page-checkbox__check">
                            <span class="page-checkbox__custom"></span>
                          </label>
                        </div>

                        <div class="vod-item__body">
                          <a href="#" class="vod-item__more">
                            Деталi
                          </a>
                          <span class="vod-item__price">
                            {{ additional.adultVOD.price }} грн/мiс.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tariff-content-internet">
                  <h3 class="tariff-content-internet__title">Iнтернет
                    <div class="sale" v-if="activeTariff.internet.discount">
                      <span class="sale__text">Акцiя</span>
                    </div>
                  </h3>
                  <div class="internet-info">
                    <div class="internet-info-speed">
                      <div class="internet-info-speed__visual">
                        <span class="internet-info-speed__count">
                          {{ activeTariff.internet.speed }}
                        </span>
                        <span class="internet-info-speed__text">
                          Мбіт/сек
                        </span>
                      </div>
                    </div>

                    <div class="internet-info-traffic">
                      <div class="internet-info-traffic__title  info-title">Трафiк</div>
                      <div class="internet-info-traffic__visual">
                        безмежний
                      </div>
                    </div>

                    <div class="internet-info-plan">
                      <div class="internet-info-plan__title  info-title">
                        <span class="internet-info-plan__name">
                          Тapифний план
                        </span>
                        <span class="internet-info-plan__sale">
                          Акцiя
                        </span>
                      </div>
                      <div class="internet-info-plan__visual">
                        {{ activeTariff.internet.name }}
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </section>

        <section class="request-form-wrapper">
          <form class="request-form" action="#">
            <h3 class="request-form__title">Оформлення заявки</h3>
            <div class="request-fields">
              <div class="request-fields__column  fields-contacts">
                <div class="fields-contacts__field">
                  <label class="fields-contacts__label">Прізвище</label>
                  <input type="text" class="fields-contacts__input" v-model="lastName">
                </div>
                <div class="fields-contacts__field">
                  <label class="fields-contacts__label">Ім'я</label>
                  <input v-model="name" data-rules="required|alpha|min:2" data-rules="required|alpha"
                         type="text" class="fields-contacts__input">
                  <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
                </div>
                <div class="fields-contacts__field">
                  <label class="fields-contacts__label">По-батькові</label>
                  <input type="text" class="fields-contacts__input" v-model="fatherName">
                </div>
                <div class="fields-contacts__field  number-holder">
                  <div class="number-holder__code">
                    <label class="fields-contacts__label">Код оператора</label>
                    <select class="number-holder__select">
                      <option>050</option>
                      <option>067</option>
                      <option>073</option>
                      <option>093</option>
                      <option>095</option>
                      <option>097</option>
                      <option>099</option>
                    </select>
                  </div>
                  <div class="number-holder__number">
                    <label class="fields-contacts__label">Номер телефону</label>
                    <input type="tel" class="fields-contacts__input" v-model="phone">
                  </div>
                </div>
                <div class="fields-contacts__field">
                  <label class="fields-contacts__label">Електронна пошта</label>
                  <input type="email" class="fields-contacts__input"
                         v-model="email" v-validate.initial="email" data-rules="required|email">
                  <p class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</p>
                </div>
              </div>

              <div class="request-fields__column  fields-connection">
                <div class="fields-connection__field">
                  <label class="fields-connection__label">
                    Побажання
                  </label>
                  <textarea class="fields-connection__input" maxlength="300"
                            v-model="suggestInput"></textarea>
                  <div class="characters-count">
                    <span class="characters-count__current">{{ suggestInput.length }}</span>
                    /
                    <span class="characters-count__all">300</span>
                  </div>
                </div>

                <div class="address-holder">
                  <div class="address-holder__street">
                    <label class="address-holder__label">
                      Ваша адреса
                    </label>
                    <span class="address-holder__text">
                      Київ, Оболонський проспект, 10
                      <a href="#" class="address-holder__change">змінити</a>
                    </span>
                  </div>
                  <div class="address-holder__flat">
                    <label class="address-holder__label">
                      № квартири
                    </label>
                    <input type="text" class="address-holder__input" v-model="flat">
                  </div>
                </div>

                <div class="connect-date">
                  <div class="connect-input-holder"
                       :class="{ 'disabled': requestStep.connectToday }">
                    <label class="connect-input-holder__label">Оберіть бажану дату підключення</label>
                    <input type="text" class="connect-input-holder__input">
                  </div>

                  <div class="connect-date__today"
                       v-if="getCurrentTime">
                    <label class="page-checkbox  connect-date__check">
                      <input type="checkbox" class="page-checkbox__check"
                             v-model="requestStep.connectToday"
                             @change="connectToday">
                      <span class="page-checkbox__custom"></span>
                      Хочу підключити сьогодні
                    </label>
                    <a href="#" class="connect-date__more">Детальніше</a>
                  </div>
                  
                </div>
              </div>
            </div>

            <ul class="required-tariffs  list-layout">
              <li class="required-tariffs__item  list-layout__item">
                <div class="required-tariffs__image  list-layout__image">
                  <i class="icon-home-internet"></i>
                </div>
                <div class="required-tariffs__data  list-layout__data">
                  <span class="required-tariffs__title">Домашній Інтернет</span>
                  <div class="required-tariffs__plan">
                    <span class="required-tariffs__name">
                      {{ activeTariff.internet.name }}
                    </span>
                    <span class="required-tariffs__speed">
                        {{ activeTariff.internet.speed }} Мбіт/сек
                    </span>
                  </div>
                </div>
                <div class="required-tariffs__price  list-layout__price">
                  <span class="required-tariffs__price-value  list-layout__price-value">
                    {{ internetPriceWithDiscount }}
                  </span>
                  грн/міс
                </div>
                <div class="required-tariffs__check">
                  <label class="page-checkbox page-checkbox--disabled">
                    <input type="checkbox" class="page-checkbox__check" checked>
                    <span class="page-checkbox__custom"></span>
                  </label>
                </div>
              </li>

              <li class="required-tariffs__item  list-layout__item">
                <div class="required-tariffs__image  list-layout__image">
                  <i class="icon-tv"></i>
                </div>
                <div class="required-tariffs__data  list-layout__data">
                  <span class="required-tariffs__title">Домашнє Телебачення</span>
                  <div class="required-tariffs__plan">
                    <span class="required-tariffs__name">
                      {{ activeTariff.name }}
                    </span>
                    <span class="required-tariffs__channels">
                      {{ activeTariff.channels.length }} каналiв
                    </span>
                  </div>
                </div>
                <div class="required-tariffs__price  list-layout__price">
                  <span class="required-tariffs__price-value  list-layout__price-value">
                    {{ activeTariff.tvPrice }}
                  </span>
                   грн/міс
                </div>
                <div class="required-tariffs__check">
                  <label class="page-checkbox page-checkbox--disabled">
                    <input type="checkbox" class="page-checkbox__check" checked>
                    <span class="page-checkbox__custom"></span>
                  </label>
                </div>
              </li>
            </ul>


            <div class="additional-block">
              <span class="additional-block__title">Додатково ви можете замовити:</span>
              <ul class="additional-list  list-layout">
                <li class="additional-list__tuner  list-layout__item"
                    :class="{ 'active': requestStep.withTuner }">
                  <div class="additional-list__image  list-layout__image">
                    <img src=<%=require("./img/vue_block/img02.png") %> alt="tuner">
                  </div>
                  <div class="tuners">
                    <div class="tuners__info">
                      <div class="additional-list__title  list-layout__data">
                        {{ additional.tunerTV.name }}
                        <div class="info-tooltip">
                          <span class="info-tooltip__icon">?</span>
                          <div class="info-tooltip__message">
                            <p>Відчуйте всі переваги Домашнього Інтернету. Замовляйте «Wi-Fi-роутер», щоб виходити до мережі з кількох пристроїв одночасно в будь-якій частині своєї оселі. + При підключенні послуги покладіть на рахунок 400 грн, а Київстар поверне вам ці кошти протягом 20 місяців у вигляді знижки на абонплату.</p>
                            <a href="#" class="info-tooltip__more"><span></span>Детальніше</a>
                          </div>
                        </div>
                      </div>
                      <div class="additional-list__price  list-layout__price">
                        <span class="additional-list__price-value  list-layout__price-value">
                          {{ additional.tunerTV.price }}
                        </span>
                        грн/міс
                      </div>
                    </div>
                    
                    <div class="tuner-added"
                         v-for="(count, index) in requestStep.tunerCounter">
                      <div class="tuner-added__info">
                        <div class="tuner-added__title  list-layout__data">
                          {{ additional.tunerTV.name }}  {{ index + 2 }}
                        </div>
                        <div class="tuner-added__price  list-layout__price">
                          <span class="tuner-added__price-value  list-layout__price-value">
                            {{ additional.tunerTV.price }}
                          </span>
                          грн/міс
                        </div>
                      </div>
                      <div class="tuner-added__info">
                        <div class="tuner-added__more-title  list-layout__data">
                          Додатковий Оптимальный пакет
                        </div>
                        <div class="tuner-added__more-price  list-layout__price">
                          <span class="tuner-added__more-price-value  list-layout__price-value">
                            {{ additional.tunerTV.additionalPrice }}
                          </span>
                          грн/міс
                        </div>
                      </div>
                      <i class="tuner-added__remove icon-ks-cross"
                         @click="removeTuner"></i>
                    </div>
                    <a href="#" class="tuners__add-tuner"
                       v-if="requestStep.tunerCounter < 3"
                       @click.prevent="addTuner">Додати ще тюнер</a>
                  </div>
                  
                  <div class="additional-list__check">
                    <label class="page-checkbox page-checkbox">
                      <input type="checkbox" class="page-checkbox__check"
                             v-model="requestStep.withTuner">
                      <span class="page-checkbox__custom"></span>
                    </label>
                  </div>
                </li>

                <li class="additional-list__item  list-layout__item"
                    :class="{ 'active': requestStep.routerPro }">
                  <div class="additional-list__image  list-layout__image">
                    <img src=<%=require("./img/vue_block/wifi_pro.png") %> alt="tuner">
                  </div>
                  <div class="additional-list__title  list-layout__data">
                    {{ additional.routerPro.name }}
                    <div class="info-tooltip">
                      <span class="info-tooltip__icon">?</span>
                      <div class="info-tooltip__message">
                        <p>Відчуйте всі переваги Домашнього Інтернету. Замовляйте «Wi-Fi-роутер», щоб виходити до мережі з кількох пристроїв одночасно в будь-якій частині своєї оселі. + При підключенні послуги покладіть на рахунок 400 грн, а Київстар поверне вам ці кошти протягом 20 місяців у вигляді знижки на абонплату.</p>
                        <a href="#" class="info-tooltip__more"><span></span>Детальніше</a>
                      </div>
                    </div>
                  </div>
                  <div class="additional-list__price  list-layout__price">
                  <span class="additional-list__price-value  list-layout__price-value">
                    {{ additional.routerPro.price }}
                  </span>
                    грн
                  </div>
                  <div class="additional-list__check">
                    <label class="page-checkbox page-checkbox">
                      <input type="checkbox" class="page-checkbox__check"
                             v-model="requestStep.routerPro">
                      <span class="page-checkbox__custom"></span>
                    </label>
                  </div>
                </li>

                <li class="additional-list__item  list-layout__item"
                    :class="{ 'active': requestStep.router }">
                  <div class="additional-list__image  list-layout__image">
                    <img src=<%=require("./img/vue_block/router.png") %> alt="tuner">
                  </div>
                  <div class="additional-list__title  list-layout__data">
                    {{ additional.router.name }}
                    <div class="info-tooltip">
                      <span class="info-tooltip__icon">?</span>
                      <div class="info-tooltip__message">
                        <p>Відчуйте всі переваги Домашнього Інтернету. Замовляйте «Wi-Fi-роутер», щоб виходити до мережі з кількох пристроїв одночасно в будь-якій частині своєї оселі. + При підключенні послуги покладіть на рахунок 400 грн, а Київстар поверне вам ці кошти протягом 20 місяців у вигляді знижки на абонплату.</p>
                        <a href="#" class="info-tooltip__more"><span></span>Детальніше</a>
                      </div>
                    </div>
                  </div>
                  <div class="additional-list__price  list-layout__price">
                  <span class="additional-list__price-value  list-layout__price-value">
                    {{ additional.router.price }}
                  </span>
                    грн
                  </div>
                  <div class="additional-list__check">
                    <label class="page-checkbox page-checkbox">
                      <input type="checkbox" class="page-checkbox__check"
                             v-model="requestStep.router">
                      <span class="page-checkbox__custom"></span>
                    </label>
                  </div>
                </li>

                <li class="additional-list__item  list-layout__item"
                    :class="{ 'active': requestStep.withVod }">
                  <div class="additional-list__image  list-layout__image">
                    <img src=<%=require("./img/vue_block/vod.svg") %> alt="tuner">
                  </div>
                  <div class="additional-list__title  list-layout__data">
                    {{ additional.premiumVOD.name }}
                    <div class="info-tooltip">
                      <span class="info-tooltip__icon">?</span>
                      <div class="info-tooltip__message">
                        <p>Відчуйте всі переваги Домашнього Інтернету. Замовляйте «Wi-Fi-роутер», щоб виходити до мережі з кількох пристроїв одночасно в будь-якій частині своєї оселі. + При підключенні послуги покладіть на рахунок 400 грн, а Київстар поверне вам ці кошти протягом 20 місяців у вигляді знижки на абонплату.</p>
                        <a href="#" class="info-tooltip__more"><span></span>Детальніше</a>
                      </div>
                    </div>
                  </div>
                  <div class="additional-list__price  list-layout__price">
                  <span class="additional-list__price-value  list-layout__price-value">
                    {{ additional.premiumVOD.price }}
                  </span>
                    грн/міс
                  </div>
                  <div class="additional-list__check">
                    <label class="page-checkbox page-checkbox">
                      <input type="checkbox" class="page-checkbox__check"
                             v-model="requestStep.withVod">
                      <span class="page-checkbox__custom"></span>
                    </label>
                  </div>
                </li>
                
                <li class="additional-list__item  list-layout__item"
                    :class="{ 'active': requestStep.withVod2 }">
                  <div class="additional-list__image  list-layout__image">
                    <img src=<%=require("./img/vue_block/vod2.svg") %> alt="tuner">
                  </div>
                  <div class="additional-list__title  list-layout__data">
                    {{ additional.adultVOD.name }}
                    <div class="info-tooltip">
                      <span class="info-tooltip__icon">?</span>
                      <div class="info-tooltip__message">
                        <p>Відчуйте всі переваги Домашнього Інтернету. Замовляйте «Wi-Fi-роутер», щоб виходити до мережі з кількох пристроїв одночасно в будь-якій частині своєї оселі. + При підключенні послуги покладіть на рахунок 400 грн, а Київстар поверне вам ці кошти протягом 20 місяців у вигляді знижки на абонплату.</p>
                        <a href="#" class="info-tooltip__more"><span></span>Детальніше</a>
                      </div>
                    </div>
                  </div>
                  <div class="additional-list__price  list-layout__price">
                  <span class="additional-list__price-value  list-layout__price-value">
                    {{ additional.adultVOD.price }}
                  </span>
                    грн/міс
                  </div>
                  <div class="additional-list__check">
                    <label class="page-checkbox page-checkbox">
                      <input type="checkbox" class="page-checkbox__check"
                             v-model="requestStep.withVod2">
                      <span class="page-checkbox__custom"></span>
                    </label>
                  </div>
                </li>
  
                <li class="additional-list__item  list-layout__item connect-today-item"
                    v-if="requestStep.connectToday">
                  <div class="additional-list__image  list-layout__image">
                    <i class="icon-fast-connection"></i>
                  </div>
                  <div class="additional-list__title  list-layout__data">
                    Швидке пiдключення
                  </div>
                  <div class="additional-list__price  list-layout__price">
                  <span class="additional-list__price-value  list-layout__price-value">
                    100
                  </span>
                    грн
                  </div>
                  <div class="additional-list__check  connect-today-item__close">
                    <label class="page-checkbox page-checkbox">
                      <input type="checkbox" class="page-checkbox__check"
                             v-model="requestStep.connectToday">
                      <span class="page-checkbox__custom"></span>
                    </label>
                  </div>
                </li>
                
              </ul>
            </div>
            
            <div class="total">
              <div class="total-heading">
                <span class="total-heading__title">Мiсячна абонплата:</span>
                <div class="total-heading__info">
                  <span class="total-heading__text">1-ий мiсяць:</span>
                  <span class="total-heading__price">{{ totalSum }} грн
                    <div class="info-tooltip" v-if="requestStep.router || requestStep.routerPro">
                      <span class="info-tooltip__icon">?</span>
                      <div class="info-tooltip__message">
                        <p>Роутер доступний користувачам послуги «Домашній Інтернет» за 400 грн. Ці кошти повернуться на ваш рахунок протягом 20 місяців у вигляді знижки на абонплату.</p>
                        <a href="#" class="info-tooltip__more"><span></span>Детальніше</a>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="total-price">
                <span class="total-price__value">{{ monthSum }}</span>
                <div class="total-price__text">
                  <span class="total-price__currency">грн</span>
                  <span>мiс</span>
                </div>
              </div>
              <div class="total__submit">
                <button class="total__button" type="submit">Замовити</button>
              </div>
            </div>
          </form>
        </section>
      </main>
    </div>
  </body>
</html>
