<!DOCTYPE html>
<html lang="ru" class="flexMenu">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kyivstar HomeTV</title>
  </head>

  <body>
    <div class="wrapper">
      <div id="addon-menu">

      </div>
      <div id="region-menu">

      </div>
      <header class="header">
        <nav class="nav-top">
          <ul class="page-sections">
            <li class="page-sections__item">
              <a href="#" class="page-sections__link">Мобильная связь</a>
            </li>
            <li class="page-sections__item">
              <a href="#" class="page-sections__link  page-sections__link--active">Домашний интернет</a>
            </li>
            <li class="page-sections__item">
              <a href="#" class="page-sections__link page-sections__link--cart">Интернет-магазин</a>
            </li>
            <li class="page-sections__item">
              <a href="#" class="page-sections__link">Поддержка</a>
            </li>
            <li class="page-sections__item">
              <a href="#" class="page-sections__link  page-sections__link--more  addon-menu__open"></a>
            </li>
          </ul>
          <ul class="user-tools">
            <li class="user-tools__item  dropdown-holder  business">
              <a href="#" class="user-tools__link  dropdown-holder__link">Бизнесу</a>
              <ul class="dropdown">
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Малый и средний бизнес</a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Большой бизнес</a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Партнерам</a>
                </li>
              </ul>
            </li>
            <li class="user-tools__item  dropdown-holder  kyivstar">
              <a href="#" class="user-tools__link  dropdown-holder__link">Киевстар</a>
              <ul class="dropdown">
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">О компании</a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Центр новостей</a>
                </li>
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Сообщество</a>
                </li>
              </ul>
            </li>
            <li class="user-tools__item">
              <a href="#" class="user-tools__link region">Харьков</a>
            </li>
            <li class="user-tools__item user-tools__item  dropdown-holder">
              <a href="#" class="user-tools__link  user-tools__link--lang  dropdown-holder__link">Рус</a>
              <ul class="dropdown">
                <li class="dropdown__item">
                  <a href="#" class="dropdown__link">Укр</a>
                </li>
              </ul>
            </li>
            <li class="user-tools__item">
              <a href="#" class="user-tools__link">Мой Киевстар</a>
            </li>
          </ul>
        </nav>
        <div class="main-nav-container">
          <nav class="main-nav">
            <div class="main-logo">
            <a class="main-logo__link" href="#"></a>
            </div>

            <ul class="main-nav__list  flex-menu">
              <li class="main-nav__item">
                <a href="#" class="main-nav__link  main-nav__link--active">Интернет + ТВ</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">ТВ-программа</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Интернет</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Устройства</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Услуги</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Настройки ТВ</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Настройки Интернет</a>
              </li>
              <li class="main-nav__item">
                <a href="#" class="main-nav__link">Архив тарифов</a>
              </li>
            </ul>
          </nav>

          <ul class="nav-tools">
            <li class="nav-tools__item">
              <a href="#" class="nav-tools__link  nav-tools__link--wallet"></a>
            </li>
            <li class="nav-tools__item">
              <a href="#" class="nav-tools__link  nav-tools__link--search"></a>
            </li>
          </ul>

          <form id="header-search" class="main-search" action="/search">
            <input class="main-search__input" type="text" name="search" placeholder="Поиск" required>
            <span id="search" class="main-search__icon"></span>
          </form>
        </div>

      </header>

      <main class="content">
        <section class="intro">
          <div class="content-wrapper">
            <div class="intro__description">
              <h1 class="intro__title">Попробуй ТВ бесплатно</h1>
              <p class="intro__text">
                Оцени преимущества ТВ от Киевстар в общем пакете Домашнего интернета и ТВ
              </p>

              <ul class="features-list">
                <li class="features-list__item">
                  <span class="features-list__logo  features-list__logo--channels">102</span>
                  <span class="features-list__describe">Каналы</span>
                </li>
                <li class="features-list__item">
                  <span class="features-list__logo  features-list__logo--video"></span>
                  <span class="features-list__describe">Видеобиблиотека</span>
                </li>
                <li class="features-list__item">
                  <span class="features-list__logo  features-list__logo--hd"></span>
                  <span class="features-list__describe">HD качествo</span>
                </li>
                <li class="features-list__item">
                  <span class="features-list__speed">100</span>
                  <span class="features-list__speed-describe">до Мбит/с</span>
                  <span class="features-list__describe  features-list__describe--internet">Интернет
                    <div class="internet-tooltip">
                      <span class="internet-tooltip__icon">?</span>
                      <div class="internet-tooltip__message">
                        <p>
                          Пакет «Попробуйте ТВ» подключается вместе с услугой Домашний Интернет. Абоненты Домашнего Интернета могут заказать пакет самостоятельно в системе «Мой Киевстар».
                        </p>
                      </div>
                    </div>
                  </span>
                </li>
              </ul>

              <div class="intro-links">
                <a href="#" class="intro-links__connect  button">Подключить</a>
                <a class="intro-links__more">
                  <span class="intro-links__arrow"></span>
                  Подробнее
                </a>
              </div>
            </div>

            <div class="intro__visual">
              <div class="circle">
                <span class="circle__text">
                  <strong>14</strong>
                  дней в подарок
                </span>
              </div>
            </div>

          </div>
        </section>

        <section class="tariffs">
          <h2 class="tariffs__title">Обирайте вигiдний тариф ТБ + Інтернет</h2>
          <div id="tariff-tabs">
            <ul class="tariffs-list" >
              <li class="tariffs-list__tariff"
                  v-for="tariff in tariffs"
                  @click.prevent="setActive(tariff)"
                  :class="{ active: tariff.isActive }">
                <a href="#" class="tariffs-list__link" :class="{ hd: tariff.isHD }">
                  <div class="tariffs-discount"
                       v-show="tariff.isHD">
                    <span class="tariffs-discount__title">HD</span>
                    <img src=<%=require("./img/vue_block/hd.png") %> alt="discount">
                  </div>
                  <div class="tariff-title">
                    <span class="tariff-title__name">{{ tariff.name }}</span>
                    <span class="tariff-price">
                      <span class="tariff-price__value  value">
                        {{ tariff.tvPrice + tariff.internet.price }}
                      </span>
                      <span class="tariff-price__text">грн/мiс.</span>
                    </span>
                  </span>
                  </div>

                  <ul class="tariff-info">
                    <li class="tariff-info__item  channels">
                    <span class="channels__count">
                      <strong class="channels__value  value">{{ tariff.channels.length }}</strong>
                      каналiв
                    </span>
                      <span class="channels-price">
                        <span class="channels-price__value  value">
                          {{ tariff.tvPrice }}
                        </span>
                        <span class="channels-price__text">грн/мiс.</span>
                      </span>
                    </li>
                    <li class="tariff-info__item  speed">
                    <span class="speed__count">
                      <strong class="speed__value  value">{{ tariff.internet.speed }}</strong>
                       Мбіт/сек
                    </span>
                      <span class="speed-price">
                        <span class="speed-price__value  value">
                          {{ tariff.internet.price }}
                        </span>
                        <span class="speed-price__text">грн/мiс.</span>
                      </span>
                    </li>
                  </ul>
                </a>
              </li>
            </ul>

            <div class="tariff-wrapper">
              <div class="tariff-content">
                <div class="tariff-content-tv">
                  <h3 class="tariff-content-tv__title">
                    Телебачення:
                    <span class="tariff-content-tv__channels-count">
                      {{ activeTariff.channels.length }} каналiв
                    </span>
                  </h3>


                  <!--<div class="channels-wrapper">-->
                    <div class="channels-container">
                      <div class="channel" v-for="channel in activeTariff.channels">
                        <span class="channel__logo" :class="channel.class"></span>
                        <span class="channel__title">{{ channel.name }}</span>
                      </div>
                    </div>
                  <!--</div>-->


                  <div class="vod-packages">
                    <h3 class="vod-packages__title">Додатковi канали</h3>
                    <div class="vod-list">
                      <div class="vod-item  premium-vod">
                        <div class="vod-item__head">
                          <span class="vod-item__title">{{ additional.premiumVOD.name }}</span>
                          <label for="check1" class="tariffs-checkbox">
                            <input type="checkbox" class="tariffs-checkbox__check" id="check1">
                            <span class="tariffs-checkbox__custom"></span>
                          </label>
                        </div>

                        <div class="vod-item__body">
                          <a href="#" class="vod-item__more">
                            Деталi
                          </a>
                          <span class="vod-item__price">
                            {{ additional.premiumVOD.price }} грн/мiс.
                          </span>
                        </div>
                      </div>
                      <div class="vod-item  adult-vod">
                        <div class="vod-item__head">
                          <span class="vod-item__title">{{ additional.adultVOD.name }}</span>
                          <label for="check2" class="tariffs-checkbox">
                            <input type="checkbox" class="tariffs-checkbox__check" id="check2">
                            <span class="tariffs-checkbox__custom"></span>
                          </label>
                        </div>

                        <div class="vod-item__body">
                          <a href="#" class="vod-item__more">
                            Деталi
                          </a>
                          <span class="vod-item__price">
                            {{ additional.adultVOD.price }} грн/мiс.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="tariff-content__plus">+</span>

                <div class="tariff-content-internet">
                  <h3 class="tariff-content-internet__title">Iнтернет
                    <div class="sale" v-show="activeTariff.internet.discount">
                      <span class="sale__text">Акцiя</span>
                    </div>
                  </h3>
                </div>
              </div>

            </div>
          </div>
        </section>
      </main>

  </body>
</html>
